include componentes/plantilla.pug
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido 
				h2 #{titulos[0]}
				p Lorem ipsum dolor
				|sit amet consectetur
				|adipisicing elit.
				span Lorem ipsum dolor sit amet.
				a.boton Leer mas
		main.contenido 
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor')
			+caja('imagen.png',titulos[2],'Lorem ipsum dolor')
			+caja('imagen.png',titulos[3],'Lorem ipsum dolor')
			